<h1>Chère/Cher {{ contact.Nom }},</h1>

<p>Nous vous remercions sincèrement d'avoir pris le temps de nous contacter via notre site web.</p>

<p>Nous avons bien reçu votre demande concernant : "{{ Demande }}". Soyez assuré(e) que celle-ci est actuellement en cours de traitement. Vous recevrez une réponse de notre part sous 24 à 48 heures.</p>

<p>En attendant, si vous avez des questions supplémentaires, n'hésitez pas à nous écrire ou à nous appeler au 066789545. Nous serons ravis de vous assister.</p>

<p>Nous vous remercions de votre patience et vous souhaitons une excellente journée.</p>

<p>Cordialement,</p>

<p>L'équipe de The District</p>
