{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="parallaxe">
    <div class="fs-1  ms-md-5 red">Les Catégories Favorites :</div>
    <div class="mid2 container my-5">
        <div class="row justify-content-center mt-3">


      {% for categorie in categories %}

      <div class="col-12 col-sm-6 col-lg-4 mt-3">
                     <a  href="/Plat.php?numcat='.$category['id'].'">
                            <img src="assets/images_the_district/category/'.$category['image'].'" class="imageanime imagecat img-fluid" alt="'.$category['libelle'].'">
                            <div class="card-body">
                            </div>
                        </a>
                    </div>










{% endblock %}
