{% extends 'base.html.twig' %}
{% block title %}Politique de confidentialité
{% endblock %}
{% block body %}
 
	<div class='container col-6 justify-content-center'>
		<br><p class='text-center couleur'>Le site Internet ambe-design.com est la propriété exclusive de Jacktucroispas.</p>
		<p class='text-center couleur'>Identifiant siret : 779832020628 /p>
		<p class='text-center couleur'>Propriétaire : Jack existpas</p>
		<p class='text-center couleur'>E-mail : Jack.existpas@gmail.com</p>
		<p class='text-center couleur'>Téléphone :  06********</p>
		<p class='text-center couleur'>Conception du site internet : Jack www.null.com</p>
		<p class='text-center couleur'>Le site est hébergé par la société personne, 50002 Boulevard Gus Flo, 8952 essay-de-trouver,
			Capital de 0 euros, Siret : 63248077219661 .</p>
		<p class='text-end couleur'>©Celui qui n'a pas d'objectifs ne risque pas de les atteindre </p>

	</div>

{% endblock %}
